body
{
    background-color: #0a0c1b;
    display: flex;
    min-height: 100vh;
    margin: 0;
    
}
.card
{
    margin: auto;
    display: flex;
    
}

.content
{
    background-color:#1a1836;
    flex-direction: column;
    border-radius: 2%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'roboto', sans-serif;
    padding: 80px;
}
h1
{
    color: white;
    align-items:flex-start;
    margin: 0;
    width: 385px;
    font-size: 30px;
}
.stats
{
    display: flex;
}
img
{

    width: 100%;
    height: 100%;
    border-radius: 3%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

.item-stat
{
    
    
    
}
.label
{
    color: rgb(149, 147, 147);
    font-size: 16px;
    margin:0;
    padding:0;
    line-height:30px;
    width: 125px;
}
.colorword
{
    color: rgba(185, 113, 230, 0.705);
}
.parenth1
{


}


.title
{
    color:white;
    align-items: center;
    margin: 0;
}

.soustitre
{
    color:gray;
    font-size: 13px;
    margin-top: 11px;
    width: 290px;

}
